<p>all-products-page works!</p>
<app-product-card
  [name]="placeholderProducts[0].name"
  [url]="placeholderProducts[0].url"
  [productID]="placeholderProducts[0].productID"
  [release_date]="placeholderProducts[0].release_date"
></app-product-card>

<app-product-card
  [name]="placeholderProducts[1].name"
  [url]="placeholderProducts[1].url"
  [productID]="placeholderProducts[1].productID"
  [release_date]="placeholderProducts[1].release_date"
></app-product-card>

<app-product-card
  [name]="placeholderProducts[2].name"
  [url]="placeholderProducts[2].url"
  [productID]="placeholderProducts[2].productID"
  [release_date]="placeholderProducts[2].release_date"
></app-product-card>

<app-product-card
  [name]="placeholderProducts[3].name"
  [url]="placeholderProducts[3].url"
  [productID]="placeholderProducts[3].productID"
  [release_date]="placeholderProducts[3].release_date"
></app-product-card>
