<app-topnav></app-topnav>
<div>
  <div class="headercolumn" style="vertical-align: middle">
    <h2>Product Management</h2>
  </div>
</div>

<h4>Here you can add, delete, update, or view products</h4>

Product ID:
<input type="text" [(ngModel)]="product_id" />
<br />
<br />
Product Name:
<input type="text" [(ngModel)]="product_name" />
<br />
<br />
Release Date:
<input type="text" [(ngModel)]="release_date" />
<br />
<br />
Price: <input type="text" [(ngModel)]="price" />
<br />
<br />
Quantity: <input type="text" [(ngModel)]="quantity" />
<br />
<br />
Product Image: <input type="text" [(ngModel)]="product_img" />
<br />
<br />

<button (click)="showProducts()">View Products</button>
<br />
<br />
<button (click)="newProduct()">Add Product</button>
<br />
<br />
<button (click)="updateProduct()">Update Product</button>
<br />
<br />
<button (click)="deleteProduct()">Delete Product</button>
