<!--product-card represents the single product-->
<!--(says same as first line) this is the name of the product, this file connects to 'product-card.component.ts'-->
<!--one way: data binding allows us to bind a variable from TS to html-->
<h3>Name: {{ product.product_name }}</h3>
<p>Product ID: {{product.product_id}}</p>
<p>Release Date: {{ product.release_date }}</p>
<p>Price: ${{product.price}}</p>
<p>Current Stock: {{product.quantity}}</p>
<img src="{{ product.product_img }}" />
<!--Event binding: bind events from ts to html -->
<!--Structual directive: using Angular to modify the structure of DOM on the fly -->

