<!--product-card represents the single product-->
<!--(says same as first line) this is the name of the product, this file connects to 'product-card.component.ts'-->
<!--one way: data binding allows us to bind a variable from TS to html-->
<h3>Name: {{ name }}</h3>
<img src="{{ url }}}" />
<p>Release Date: {{ release_date }}</p>
<!--Event binding: bind events from ts to html -->
<button (click)="add()">Add to Cart</button>
<!--Structual directive: using Angular to modify the structure of DOM on the fly -->
<p *ngIf="added">You've add {{ name }}</p>
